
body {
  margin: 0;
  background-color: rgb(11,14,19);
}
*::selection {
    background-color: var(--main-color);
    color: rgb(0, 0, 0);
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.margin-top{
  margin-top: 300px;
}
:root{
  --main-color:rgb(203,254,28);
  --black-color:rgb(0,0,0);
  --secound-color:rgb(190,194,200);
  --light-font: lighter;
}
div img{
  width: 100%;
  height: 100%;
  object-fit:cover ;
}
*{
  font-family: "Days One", sans-serif;
}

p.main-color{
  position: relative;

      text-align: center;
}
p.main-color::before{
  content: "";
  width: 60px;
  height: 3px;
  background-image:  linear-gradient(to right,rgba(197, 18, 18, 0)0%, rgba(201, 254, 28, 1)80%);
position: absolute;
bottom: 40%;
left:13%;
}
p.main-color::after{
  content: "";
  width: 60px;
  height: 3px;
  background-image:  linear-gradient(to left,rgba(197, 18, 18, 0)0%, rgba(201, 254, 28, 1)80%);
position: absolute;
bottom: 40%;
left:70%;
}



.navbar-brand {
    color: var(--main-color) !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show ,.nav-link:focus, .nav-link:hover{
    color: var(--main-color);
}
 
.nav-link {
    font-weight: var(--light-font) !important ;
  }

.navbar-toggler{
--bs-navbar-brand-hover-color:rgb(203,254,28) !important;
}
.nav-bottom{
background-color: var(--main-color);
color:black;
font-weight: bold;
border: none;
padding: 5px 20px;
}
.main-color{
  color: var( --main-color) !important;
}
.color-2{
   color: var( --secound-color) !important;
}
span i:hover{
  color: var(--main-color);
}
.img-hero{
  width: 100%;
  height: 300px;

  border: var(--main-color) solid 5px;
}
.hero-badge{
display: flex;
justify-content: center;
text-align: center;
background-color: rgb(11,14,19);
border: 1px rgb(190,194,200) solid;
font-size: 13px;
width: fit-content;
height: fit-content;
padding: 25px 30px;
bottom: -10%;
left: -6%;

}
.w-90{
  width: 90%;
}

.bage-slider-img{
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 10px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: lighter;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color:white ;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
/* --------------------------------------------- haader ------------------------------------ */

header{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)) , url(../img/hero-bg.jpg);
      background-attachment: fixed;
  background-size: cover;
  background-position: center;

}
.padding-hero{
  padding-block: 130px;
}

.botton-2-hero{
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background-color: transparent;
}

/* --------------------------------------------- section 1------------------------------------ */
.carde {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden; 
  position: relative;
  border: 2px solid transparent;
  transition: border 0.4s;
}

.carde:hover {
  border: 2px solid var(--main-color); 
}

.carde img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.4s ease; 
}

.carde:hover img {
  transform: scale(1.1); 
}


.child {
  position: absolute;
  background-image: linear-gradient(rgba(197, 18, 18, 0), rgba(201, 254, 28, 0.726));
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  color: white;
  transition: opacity 0.4s ease;
}

.child p {
  transform: translateY(120%);
  position: absolute;
  bottom: 0;
  left: 7%;
  font-size: 20px;
  transition: transform 0.4s ease;
}

.child div.badges {
  transform: translateY(-200%);
  position: absolute;
  top: 5%;
  left: 7%;
  transition: transform 0.4s ease;
  
}

.carde:hover .child {
  opacity: 1;
}

.carde:hover p {
  transform: translateY(0);
}

.carde:hover div.badges {
  transform: translateY(0);
}
.arrow-botton{
  background-color: transparent !important; 
  color:var(--secound-color) ;
  border: 2px solid var(--secound-color) ;
font-size: 35px;
}
.arrow-botton:hover{
  border: 2px solid var(--main-color)!important ;

}
.arrow-botton:hover i{
  color: var(--main-color) ;
}
.inner {
width: 100%;
  background-color: rgb(26,26,26);
  padding: 80px;
  height: 100%;
  border-radius: 20px;
  color: white;
  text-align: center;
  border: 2px solid rgb(26,26,26);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.inner-img{
  border-radius: 20px;
}


.inner span {
  background-color: rgb(30,41,57);
  color: var(--main-color);
  padding: 10px;
  font-size: 40px;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.inner h3 {
  width: 120%;
}

.inner:hover span {
  background-color: var(--main-color);
  color: rgb(30,41,57);
}

.inner:hover {
  border: 2px solid var(--main-color);
  box-shadow: 0 0 15px rgba(168, 255, 0, 0.2);
}

.corner {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.corner.top-left {
  top: 0;
  left: 0;
  border-width: 30px 30px 0 0;
  border-color: var(--main-color) transparent transparent transparent;
  transform: translate(-10px, -10px);
}

.corner.bottom-right {
  bottom: 0;
  right: 0;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent var(--main-color) transparent;
  transform: translate(10px, 10px);
}

.inner:hover .corner.bottom-right {
  opacity: 1;
  transform: translate(-20px, -20px);
}
.inner:hover .corner.top-left {
  opacity: 1;
  transform: translate(20px, 20px);
}

section.section-2{
  position: relative;
}

section.section-2::after{
  content: "";
  width: 60%;
  height:5px;
background-image: radial-gradient(
  circle at center,
  rgba(191, 255, 0, 0.8) 0%,   
  rgba(115, 255, 0, 0.3) 40%,  
  rgba(255, 255, 0, 0) 70%     
);

position: absolute;
bottom: 2%;
right: 20%;
}

/* ---------------------------------------------------section 3--------------------------- */
.section-logos-3
{
padding-block: 600px;
background-image: radial-gradient(circle, 
      rgba(203,254,28, 0.533) 0%,  
      rgba(0, 0, 0, 0) 70%           
  ) ;
}
  
.logos-wrapper {
  overflow: hidden;
  width: 100%;
}


.layer-logo{
  position: relative;
}
.layer-logo::after
{
  content: "";
background-image: radial-gradient(circle, 
      rgba(0,0,0, 0) 0%,  
       rgba(0,0,0, 0) 80%, 
      rgba(0, 0, 0, 0.8) 99%         
  ) ;  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: height 0.5s;
}

.logos {
  display: flex;
  width: max-content; 
  animation: scroll 40s linear infinite;
}
.logos-2 {
  display: flex;
  width: max-content; 
  animation: scroll-2 40s linear infinite;
}

.logo-row {
  display: flex;
  gap: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}

@keyframes scroll-2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0); 
  }
}


/* ---------------------------------------------------section 4 ------------------------------------------- */
.name-team-member{
  transform: rotate(90deg);
right: -10%;
color: red;
bottom: 30%;

}
article.text-memer{
  bottom: 7%;
  left: 7%;
}
article.text-memer p{
font-size: 15px;
}
article.text-memer span{
font-size: 12px;
}

.layer{
  position: relative;
}
.layer::after
{
  content: "";
  backdrop-filter:grayscale();
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: height 0.5s;
}
.layer:hover::after
{
  height: 0;
}

/* ---------------------------------------------------section 5 ------------------------------------------- */
.bg-section-5 {
  background-color: rgb(15,20,32);
}
.left-div
{
  background-color: rgb(30,41,57);
  padding: 50px;
  border-radius: 20px;
}
.left-div-gradient{
    padding: 50px;
  border-radius: 20px;
  background-image: linear-gradient(to right ,rgb(202,254,29),rgb(8,223,114));
}
.icon-left{
background-color: var(--main-color);
}
span i.fa-stack-1x {
color: var(--main-color);
}
span.fa-stack:hover i.fa-circle{
color: rgb(63, 63, 63);
}


.right-form{
  background-color: rgb(30,41,57);
  padding: 50px;
  border-radius: 20px;
}
.form-control {
  
    background-color: rgb(54,65,83) !important;
     border: var(--bs-border-width) solid rgb(74,85,101) ;

    border: var(--bs-border-width) solid rgb(74,85,101) ;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.end-rating-left{
  margin-top: 40px;
    border-top:2px solid rgb(74,85,101) ;
    padding-top: 40px;  
}
.form-select {
     border: var(--bs-border-width) solid rgb(74,85,101) ;
     color: var(--secound-color) ;
    background-color:  rgb(54,65,83);
  
}
.form-control:focus {
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 0 0 0 .25rem rgb(203,254,28,0.2);
}
textarea::placeholder {
  color: var(--secound-color) !important;
  opacity: 1;
}

input::placeholder {
  color: var(--secound-color) !important ;
  opacity: 1;
}

/* --------------------------------------------------- footer ------------------------------------------- */

footer{
  padding-top: 50px;
}
footer a{
  font-weight: lighter;
  color: rgb(190,194,200);
}
footer a:hover{
  color: var(--main-color);
}


.All-rights-reserved {
  border-top: 1px rgb(190,194,200) solid;
  padding-top: 0px;
  color: rgb(190,194,200);
  background-color: black;
  padding-block: 30px;
  margin-top: 30px;
}
/* --------------------------------------------------- bottons ------------------------------------------- */
button{
    transition: background-image 0.5s 0.5s;
}
button:hover{
background-image: linear-gradient(rgba(0,0,0,0.1));
background-color: var(--main-color);
color: black;

}
.layer-button{
  position: relative;
  overflow: hidden;
}
.layer-button::after
{
  content: "";
  transform: translate(-200%);
  background-color: white;
  opacity: 0.5;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  transition: transform 0.3s;
}
.layer-button:hover::after
{
  transform: translate(100%);
}


