@media screen and (min-width: 576px) {
  /* موبايل كبير أو تابلت صغير */
}

@media screen and (min-width: 768px) {
  /* تابلت */
}

@media screen and (min-width: 992px) {
  /* لابتوب صغير */
}

@media screen and (min-width: 1200px) {
  /* شاشات كبيرة */
  .padding-hero {
    padding-block: 0;
    height: 100vh;
  }
  .img-hero{
  height: 400px;
}
header section{
    width: 90%;
}
.w-lg-90{
    width: 90%;
}

section.section-2::after{
  content: "";
  width: 60%;
  height:5px;
background-image: radial-gradient(
  circle at center,
  rgba(191, 255, 0, 0.8) 0%,   
  rgba(115, 255, 0, 0.3) 40%,  
  rgba(255, 255, 0, 0) 70%     
);

position: absolute;
bottom: 5%;
right: 20%;
}

p.main-color::before{
  content: "";
  width: 60px;
  height: 3px;
  background-image:  linear-gradient(to right,rgba(197, 18, 18, 0)0%, rgba(201, 254, 28, 1)80%);
position: absolute;
bottom: 40%;
left:40%;
}
p.main-color::after{
  content: "";
  width: 60px;
  height: 3px;
  background-image:  linear-gradient(to left,rgba(197, 18, 18, 0)0%, rgba(201, 254, 28, 1)80%);
position: absolute;
bottom: 40%;
left:55.5%;
}
}

@media screen and (min-width: 1400px) {
  /* شاشات ضخمة */

}
